@font-face{
    font-family: miaowu;
    src: url(../fonts/方正喵呜体.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: miaowu;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(167, 29, 84, 0.35);
    /*background-image: url(../images/background.gif),url(../images/background.jpg);*/
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.login-form,.register-form,.retrieve-form {
    background: rgba(155, 36, 127, 0.15);
    border: 3px solid rgba(149, 33, 57, 0.15);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    text-align: center;
    color: white;
    width: 400px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
}

.login-title,.register-title,.retrieve-title {
    font-size: 40px;
    margin-bottom: 40px;
}
.input-box {
    margin: 20px 0;
    position: relative;
}
.input-box input {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-weight: 600;
}
.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 500;
}
.input-box input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.3);
}
.input-box input::-ms-reveal {
    filter: invert(100%);
}
.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.remember-forgot-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
}
.remember-forgot-box label {
    display: flex;
    gap: 8px;
    cursor: pointer;
}
.remember-forgot-box input {
    accent-color: white;
    cursor: pointer;
}
.remember-forgot-box a {
    color: white;
    text-decoration: none;
}
.remember-forgot-box a:hover {
    text-decoration: underline;
}

.login-button,.register-button,.retrieve-button {
    width: 100%;
    padding: 10px 0;
    background: rgba(150, 22, 120, 0.15);
    border: none;
    border-radius: 99px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.login-button:hover,.register-button:hover,.retrieve-button:hover {
    background: rgba(167, 29, 84, 0.35);
}

.login,.register,.back {
    margin-top: 15px;
    font-size: 15px;
}
.login a,.register a,.back a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.login a:hover,.register a:hover,.back a:hover {
    text-decoration: underline;
}
.mmm {
    color: white;
    position: fixed;
    bottom: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
}
.mmm  a {
    color: white;
    text-decoration: none;
}
.mmm a:hover {
    color: rgba(167, 29, 84, 0.35);
}
